/* header */
.header {
    background: var(--color-primary);
}

.brand {
    width: 200px;
}

.nav-link {
    color: var(--color-support-1);
    background: rgba(0,0,0,.1);
    border-radius: 5px;
    transition: 0.1s;
}

.nav-link:hover {
    background: rgba(0,0,0,.5);
    transition: 0.1s;
}

@media (max-width: 760px) {
    .header {
        grid-template-columns: auto;
    }
    .brand {
        margin-bottom: 20px;
    }
}

/* sidenav */
.sidenav {
    background: #fafbfc;
}

.sidenav-link {
    display: block;
    min-width: 60px;
    max-width: 100px;
    margin: 0 auto 30px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
    transition: .1s ease-out;
}

.sidenav-link:hover {
    background: var(--color-secondary);
}

@keyframes seta {
    from {
        right: 30px;
    }
    to {
        right: 20px;
    }
}

@media (max-width: 760px) {
    .sidenav {
        position: relative;
        padding-right: 30px;
        padding-left: 30px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .sidenav::after {
        content: '→';
        position: absolute;
        top: 5px;
        right: 30px;
        color: rgba(0,0,0,.3);
        animation: seta .5s ease-in 0s infinite alternate;
    }
    
    .sidenav-menu {
        display: flex;
    }

    .sidenav-item {
        flex: 1 0 60px;
        margin-right: var(--gap-sm);
    }

    .sidenav-link {
        margin-bottom: 0;
    }


}

/* content */
.content {
    display: grid;
    max-width: 900px;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.col-wide {
    grid-column: 1 / -1;
}

.introducao {
    margin-bottom: calc(var(--gap-md) - 30px);
}

.img {
    width: 100%;
    border-radius: 5px;
}

.imagem-1 {
    grid-row: span 2;
    align-items: end;
}

.imagem-2 {
    align-self: end;
}

.imagem-3 {
    margin-top: calc(var(--gap-md) - 30px);
}

.destaque {
    font-size: 0.875em;
    color: var(--color-secondary);
    max-width: 16em;
    opacity: 1;
}

/* estilo content */
.titulo-h1 {
    color: var(--color-secondary);
}

.titulo-span {
    color: var(--color-secondary);
    font-style: italic;
}

/* características */
.caracteristicas {
    display: flex;
    align-items: flex-start;
}

.caracteristicas-item {
    width: 80px;
    text-align: center;
    background: var(--color-primary);
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
}

.caracteristicas-item:first-child {
    margin-right: 30px;
}

.numero, .rotulo {
    display: block;
    color: var(--color-secondary);
}

.numero {
    font-size: 3em;
    line-height: 1em;
    margin: 10px auto;
}

.rotulo {
    background: white;
}

/* citacao */
.citacao {
      padding: 30px;
      background: var(--color-primary);
      border-radius: 5px;
      margin-top: var(--gap-sm);
      margin-bottom: var(--gap-sm);
      box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
}

.citacao-p {
    text-align: center;
    font-style: italic;
    font-size: 1.5em;
    max-width: 30em;
    margin: 0 auto;
    color: var(--color-support-1);
}

/* atributos */
.atributos {
    padding: 30px;
    background: var(--color-primary);
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
}

.atributos-item {
    color: var(--color-support-1);
    font-size: 1.125em;
    padding: 15px;
    border-top: 2px solid #AF7BFB;
}

.atributos-item:first-child {
    border-top: none;
}

/* anuncios */

.anuncios {
    background: #fafbfc;
    display: grid;
    align-content: start;
    padding-right: 30px;
    padding-left: 30px;
    grid-gap: 30px;
}

.anuncios-item {
    border-radius: 5px;
}

/* footer */

.footer {
    background: var(--color-primary);
}

.footer-text {
    margin: 0 auto;
    color: var(--color-support-1);
    opacity: 1;
}